<nav>
  <div class="site-title">
    <a href="/"><h1>Phonedb</h1></a>
  </div>
  <ul>
    <li><a href="/phones">Home</a></li>
    <li><a href="/phone/create">Add-Phone</a></li>
    <li><a href="/search">Search</a></li>
    <!-- <li><a href="/users">User</a></li>
    <li><a href="/user/create">Add-User</a></li>    -->
    <li><a href="/about">About</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>