<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="/phone/create" method="POST">
      <label for="esn">ESN:</label>
      <input type="text" id="esn" name="esn" required>
      <label for="model">Model:</label>
      <input type="text" id="model" name="model" required>
      <label for="carrier">Carrier:</label>
      <input type="text" name="carrier" id="carrier" required>
      <label for="barcode">Bar Code:</label>
      <input type="text" name="barcode" id="barcode" required>
      <label for="PhRmLoc">Ph Rm Loc:</label>
      <input type="text" name="PhRmLoc" id="PhRmLoc">
      <label for="CurLoc">Cur Loc:</label>
      <input type="CurLoc" name="CurLoc" id="CurLoc">
      <label for="Note">Note:</label>
      <input type="Note" name="Note" id="Note">     
     <div class="sub">
      <button type="submit">Submit</button>
     </div> 
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>